body {
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* this is header section */
.header-section {
    background-image: url("images/banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 808px;
}